$url-images-base : "/assets/images";
$url-images-common : "/assets/images/common";
$translate50 : translate(-50%, -50%);

$font-size-base : 1.2rem;
$font-color-base : #222;
$font-color-active : #51afeb;

$input-padding :0.3rem 1rem;
$input-border : 0.1rem solid #d5d5d5;

$select-border: 0.1rem solid #d5d5d5;
$select-padding:0.2rem 1.5rem 0.2rem 0.4rem;

$bbs-list-border-top : 0.2rem solid #51afeb;
$bbs-view-border-top : 0.1rem solid #51afeb;
$bbs-border : 0.1rem solid #cde;
$bbs-padding : 0.4rem 1rem;

$btn-s-blue-color : #fff;
$btn-s-blue-bg : #0b64bf;