@charset "UTF-8";
@font-face { font-family: 'NanumGothicLight'; font-style: normal; font-weight: 100; src: local("※"), url("/assets/fonts/NanumGothicL.woff2") format("woff2"), url("/assets/fonts/NanumGothicL.woff") format("woff"), url("/assets/fonts/NanumGothicL.ttf") format("truetype"), url("/assets/fonts/NanumGothicL.eot") format("embedded-opentype"); }

@font-face { font-family: 'NanumGothicRegular'; font-style: normal; font-weight: 400; src: local("※"), url("/assets/fonts/NanumGothicR.woff2") format("woff2"), url("/assets/fonts/NanumGothicR.woff") format("woff"), url("/assets/fonts/NanumGothicR.ttf") format("truetype"), url("/assets/fonts/NanumGothicR.eot") format("embedded-opentype"); }

@font-face { font-family: 'NanumGothicBold'; font-style: normal; font-weight: 700; src: local("※"), url("/assets/fonts/NanumGothicB.woff2") format("woff2"), url("/assets/fonts/NanumGothicB.woff") format("woff"), url("/assets/fonts/NanumGothicB.ttf") format("truetype"), url("/assets/fonts/NanumGothicB.eot") format("embedded-opentype"); }

@font-face { font-family: 'NanumGothicBold'; font-style: normal; font-weight: 900; src: local("※"), url("/assets/fonts/NanumGothicEB.woff2") format("woff2"), url("/assets/fonts/NanumGothicEB.woff") format("woff"), url("/assets/fonts/NanumGothicEB.ttf") format("truetype"), url("/assets/fonts/NanumGothicEB.eot") format("embedded-opentype"); }

html { font-size: 10px; }

body { color: #222; font: 1.2rem/1.3 "NanumGothicRegular", "Malgun Gothic", "맑은고딕", "돋움", Dotum, arial, sans-serif; letter-spacing: -0.5px; /* Support for all Webkit Browsers */ -webkit-font-smoothing: subpixel-antialiased; /* Support for Safari and Chrome */ -webkit-text-size-adjust: none; text-size-adjust: none; }

* { box-sizing: border-box; }

input[type=text], input[type=password], input[type=date], input[type=url], input[type=email], input[type=number], select, textarea, button { font: 1.2rem/1.3 "NanumGothicRegular", "Malgun Gothic", "맑은고딕", "돋움", Dotum, arial, sans-serif; -webkit-appearance: none; appearance: none; }

input[type=text], input[type=password], input[type=number], input[type=url], input[type=search], input[type=email], input[type=date] { padding: 0.3rem 1rem; border: 0.1rem solid #d5d5d5; border-radius: 0.2rem; }

select { height: 2.3rem; padding: 0.2rem 1.5rem 0.2rem 0.4rem; border: 0.1rem solid #d5d5d5; border-radius: 0.2rem; background: url(/assets/images/common/ico_arrow_select.gif) no-repeat 95% 48%; }

textarea { padding: 0.3rem; border: 0.1rem solid #d5d5d5; border-radius: 0.2rem; }

::-webkit-input-placeholder { color: rgba(106, 106, 106, 0.5); }

::-moz-placeholder { color: rgba(106, 106, 106, 0.5); }

:-ms-input-placeholder { color: rgba(106, 106, 106, 0.5); }

:-moz-placeholder { color: rgba(106, 106, 106, 0.5); }

.clearFix:after { display: block; content: ''; clear: both; }

.translate50 { -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.alternate { overflow: hidden; z-index: -1; clip: rect(0, 0, 0, 0); font-size: 0; }

.warning01 { padding-left: 4rem; font-size: 1.2rem; background: url(/assets/images/common/warning01.png) no-repeat 0 0; background-size: 3rem; }

/* LOGIN */
.loginArea { overflow: hidden; position: absolute; top: 50%; left: 50%; padding: 4rem; border: 0.1rem solid #ddd; }

.loginArea h1 { font-size: 1.2rem; margin-bottom: 2rem; }

.loginArea .loginInfoWrap { position: relative; min-width: 42rem; }

.loginArea .loginInfoWrap button[type=submit] { float: left; width: 7rem; height: 7rem; margin-left: 1rem; color: #fff; text-align: center; background-color: #000; }

.loginArea .pic { float: left; width: 5rem; margin-top: 0.5rem; }

.loginArea .pic img { max-width: 100%; width: 100%; }

.loginArea .loginInfo { float: left; margin-left: 3rem; }

.loginArea .loginInfo .inner { margin-top: 1rem; }

.loginArea .loginInfo .inner:first-child { margin-top: 0; }

.loginArea .loginInfo .inner:nth-child(3) { padding-left: 8.3rem; }

.loginArea .loginInfo label { width: 8rem; }

.loginArea .loginInfo input:not([type=checkbox]) { height: 3rem; }

.loginArea .loginInfo input[type=checkbox] + label { font-size: 1.2rem; }

.loginArea .warning01 { float: left; margin-top: 0.8rem; }

/* Header */
.mainHeader { overflow: hidden; padding: 1rem; color: #fff; background-color: #000; }

.mainHeader h1 { float: left; font-family: "NanumGothicBold"; font-size: 2rem; }

.mainHeader .userName { float: left; position: relative; top: 0.8rem; margin-left: 2rem; font-size: 1.2rem; }

.mainHeader .userName span:first-child { margin-right: 0.5rem; font-weight: bold; }

.mainHeader .modifyInfo, .mainHeader .btnAdmin { float: left; position: relative; top: 0.4rem; margin-left: 2rem; padding: 0.4rem; border: 1px solid #f7f7f7; border-radius: 0.4rem; font-size: 1rem; }

.mainHeader .btnAdmin { margin-left: 1rem; }

/* Layout */
.wrap { min-width: 100rem; }

.container { overflow: hidden; }

.lnb, .contents { float: left; padding-top: 2rem; }

.lnb { width: 12rem; padding-left: 1rem; }

.contents { width: calc(100% - 20rem); padding-left: 2rem; }

/* Left Navigation Bar(LNB) */
.lnb .list01 a { display: block; width: 100%; padding-top: 0.2rem; font-size: 1.2rem; }

.lnb .list01 a:hover, .lnb .list01 a.active { color: #51afeb; font-weight: bold; }

.lnb .list01 > li { margin-top: 1.5rem; }

.lnb .list01 > li:first-child { margin-top: 0; }

.lnb .list01 > li > a { padding-left: 2rem; background: url(/assets/images/common/folder_close.png) no-repeat 0 0; background-size: 1.8rem; transition: all 0.2s; }

.lnb .list01 > li > a.active { background-image: url(/assets/images/common/folder_open.png); }

.lnb .list01 > li ul { display: none; margin: 0.5rem 0 0 2rem; padding: 0.4rem; border-radius: 0.4rem; background-color: #e1dede; }

.lnb .list01 > li ul li { margin-top: 0.5rem; }

.lnb .list01 > li ul li:first-child { margin-top: 0; }

/* Title */
.tit01 { padding: 1rem; color: #fff; background-color: #2f2d2d; font-family: "NanumGothicBold"; font-size: 1.5rem; }

/* 게시판 목록 */
.bbsList01 { margin-top: 2rem; border-top: 0.2rem solid #51afeb; }

.bbsList01 thead th { padding: 0.4rem 1rem; border-bottom: 0.1rem solid #cde; background-color: #edf4fa; }

.bbsList01 td { padding: 0.4rem 1rem; border-bottom: 0.1rem solid #cde; }

.bbsList01 td.count, .bbsList01 td.num, .bbsList01 td.date, .bbsList01 td.down { text-align: center; }

.bbsList01 td.subject { padding-left: 1rem; }

.bbsList01 td.subject a { display: block; overflow: hidden; width: 100%; white-space: nowrap; text-overflow: ellipsis; }

.bbsList01 td.noData { padding: 1.5rem 0; text-align: center; }

.memberInfo .pos, .memberInfo .name, .memberInfo .auth, .memberInfo .phone, .memberInfo .modify { text-align: center; }

/* 게시판 쓰기 */
.bbsWrite01 { border-top: 0.1rem solid #51afeb; }

.bbsWrite01 tbody th, .bbsWrite01 tbody td { padding: 0.4rem 1rem; border-bottom: 0.1rem solid #cde; }

.bbsWrite01 tbody th { background-color: #edf4fa; }

.bbsWrite01 tbody .statusStandBy, .bbsWrite01 tbody .statusDone, .bbsWrite01 tbody .statusReturn { margin-left: 2rem; font-family: "NanumGothicBold"; }

.bbsWrite01 tbody .statusStandBy { color: #008dd5; }

.bbsWrite01 tbody .statusDone { color: green; }

.bbsWrite01 tbody .statusReturn { color: red; }

.bbsWrite01 tbody .attachFile li { margin-top: 0.4rem; }

.bbsWrite01 tbody .attachFile li:first-child { margin-top: 0; }

.bbsWrite01 tbody .attachFile a { height: 2.3rem; margin-right: 1rem; text-decoration: underline; line-height: 2.2rem; }

.bbsWrite01 tbody .opinion { overflow: hidden; }

.bbsWrite01 tbody .opinion li { overflow: hidden; padding: 0.3rem 0 0.6rem; border-top: 0.1rem dashed #969696; }

.bbsWrite01 tbody .opinion li:first-child { border-top: 0; }

.bbsWrite01 tbody .opinion .inner { float: left; width: 50%; font-size: 1.2rem; }

.bbsWrite01 tbody .opinion .inner:first-child { padding-top: 0.3rem; }

.bbsWrite01 tbody .opinion .inner .date, .bbsWrite01 tbody .opinion .inner .jobGrade, .bbsWrite01 tbody .opinion .inner .name { display: inline-block; padding-top: 0.5rem; }

.bbsWrite01 tbody .opinion .inner .date { margin-right: 0.5rem; }

.bbsWrite01 tbody .opinion .inner .name { margin-right: 1rem; }

.bbsWrite01 tbody .opinion .inner.txtRight { font-size: 1.1rem; }

.bbsWrite01 tbody .opinion .inner.txtRight span { vertical-align: middle; }

.bbsWrite01 textarea { width: 100%; height: 10rem; resize: none; }

/* 검색 */
.searchArea { overflow: hidden; text-align: right; }

.searchArea .newArticle { float: left; }

/* Pagination */
.pagination { display: block; margin-top: 4rem; text-align: center; }

.pagination ol, .pagination li { display: inline-block; }

.pagination li strong, .pagination a { display: inline-block; position: relative; z-index: 1; height: 3.8rem; margin-left: -0.8rem; padding: 0 1.5rem 0 1.3rem; text-align: center; vertical-align: middle; }

.pagination a { color: #717e93; font-size: 1.4rem; line-height: 3.8rem; }

.pagination a:after { display: block; content: "/"; position: absolute; top: 0; right: 0; color: #bec6d1; font-size: 1.2rem; }

.pagination li strong { z-index: 2; padding: 0 1.2rem 0 1.1rem; border: 0.1rem solid #e4e8ea; border-radius: 0.4rem; color: #008dd5; line-height: 3.5rem; background-color: #fff; font-family: "NanumGothicBold"; font-size: 1.6rem; }

.pagination li:last-child a:after { display: none; }

.pagination .prev:after, .pagination .next:after { content: ""; top: 1.4rem; width: 0.7rem; height: 1.1rem; background: url(/assets/images/common/ico_pagination.gif) no-repeat 0 0; }

.pagination .prev:after { left: 0.2rem; background-position: 0 -1.1rem; }

.pagination .next:after { right: 0.4rem; background-position: -0.7rem -1.1rem; }

.pagination a.first span, .pagination a.last span { display: inline-block; overflow: hidden; position: relative; top: 1.4rem; width: 1.1rem; height: 1.1rem; vertical-align: top; background: url(/assets/images/common/ico_pagination.gif) no-repeat 0 0; }

.pagination a.first span { background-position: 0 0; }

.pagination a.last span { background-position: -1.1rem 0; }

.pagination a.first:after, .pagination a.last:after { display: none; }

/* Data Table */
.tablelist01 th, .tablelist01 td { padding: 0.4rem; border: 0.1rem solid #c3c3c3; }

.tablelist01 th { background-color: #f9f9f9; }

/* Location */
.location { margin-bottom: 2rem; }

.location a, .location .gt { vertical-align: middle; }

.location a { font-family: "NanumGothicBold"; font-size: 1.8rem; }

.location .gt { margin: 0 0.5rem; font-size: 1rem; }

.location a:last-child { color: #51afeb; }

.mainContentsWrap { overflow: hidden; }

.mainContentsWrap article { float: left; width: 50%; }

.mainContentsWrap article h3 { position: relative; padding-left: 1rem; }

.mainContentsWrap article h3:before { display: block; content: ""; position: absolute; top: 50%; left: 0; width: 0.4rem; height: 0.4rem; transform: translateY(-50%); background-color: #232323; }

.mainContentsWrap article.mainNotice { width: 100%; margin-top: 3rem; }

.mainContentsWrap article.personalFolder { padding-left: 1rem; }

.mainContentsWrap article table { margin-top: 0.5rem; }

/* Calendar */
.datepicker { width: 15rem; padding-right: 2rem !important; background: url(/assets/images/common/calendar.gif) no-repeat 98% 50%; }

/* Button  */
.btnControls { margin-top: 4rem; text-align: center; }

.btnControls a { margin: 0 0.2rem; }

.btn-s-blue { display: inline-block; height: 2.3rem; padding: 0 1rem; border-radius: 0.4rem; color: #fff; text-align: center; background-color: #0b64bf; }

a.btn-s-blue { padding-top: 0.4rem; }

.btn-s-gray { display: inline-block; height: 2.3rem; padding: 0 1rem; border-radius: 0.4rem; color: #fff; text-align: center; background-color: #757575; }

.btn-s-dark { display: inline-block; height: 2.3rem; padding: 0 1rem; border-radius: 0.4rem; color: #fff; text-align: center; background-color: #0A0357; }

.btn-b-blue { display: inline-block; min-width: 8rem; height: 3rem; padding: 0.6rem 1rem 0; border-radius: 0.4rem; color: #fff; font-size: 1.4rem; background-color: #0b64bf; }

.btn-b-gray { display: inline-block; min-width: 8rem; height: 3rem; padding: 0.6rem 1rem 0; border-radius: 0.4rem; color: #fff; font-size: 1.4rem; background-color: #757575; }

/* Popup */
.popup { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); }

.popup > section { overflow: hidden; position: absolute; top: 50%; left: 50%; width: 40rem; height: 40rem; padding: 2rem; transform: translate(-50%, -50%); background-color: #fff; }

.popup .btnClose { position: absolute; top: 1rem; right: 1rem; width: 1.5rem; height: 1.5rem; color: #fff; background-color: #222; }

.popup .popSelectAuth .left, .popup .popSelectAuth .right { overflow: hidden; width: 40%; height: 80%; margin-top: 1rem; }

.popup .popSelectAuth .left { float: left; }

.popup .popSelectAuth .right { float: right; }

.popup .popSelectAuth h4 { font-family: "NanumGothicBold"; font-size: 1.3rem; }

.popup .popSelectAuth h5 { margin-bottom: 0.5rem; }

.popup .popSelectAuth .inner { overflow-y: auto; height: 90%; padding: 0.5rem; border: 0.1rem solid #000; }

.popup .popSelectAuth .inner a { display: block; width: 100%; margin: 0.4rem 0; }

.popup .popSelectAuth .inner a.selected { color: #fff; background-color: #787878; }

.popup .popSelectAuth .controlSelect { position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); }

.popup .popSelectAuth .controlSelect button { width: 2rem; height: 2rem; margin: 0 0.2rem; color: #fff; background-color: #222; }

.popup .popSelectAuth .btnControls { float: left; width: 100%; margin-top: 1.5rem; }

.popup .popSelectAddress { width: 60%; }

.popAddress .zipcode { text-align: center; }

.popAddress ul li { margin-top: 0.2rem; }

.popAddress ul li a:hover { color: red; }

.popAddress .addressArea { overflow-y: auto; height: 30rem; }

.popAddress .addressArea .bbsList01 { margin-top: 1rem; }

/* Text Align */
.txtLeft { text-align: left; }

.txtCenter { text-align: center; }

.txtRight { text-align: right; }

/* Space */
.mt0 { margin-top: 0; }

.mt5 { margin-top: 0.5rem; }

.mt10 { margin-top: 1rem; }

.mt20 { margin-top: 2rem; }

.mt27 { margin-top: 2.7rem; }

.mt30 { margin-top: 3rem; }

/*# sourceMappingURL=common.css.map */
