.new_manage_head_box{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #333;
}

.new_manage_title_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.new_manage_title_box p.new_manage_title{
    flex:1;
    display: block;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-align: left;
    /*border-bottom: 3px solid #333;*/
    /*padding-bottom: 15px;*/
    text-transform: uppercase;
    position: relative;
}

.new_manage_btn_and_search_box{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.new_manage_btn_and_search_box .search_right_box{
    position: static;
}

.new_manage_btn_and_search_box .btn_tb_wrap{
    position: static;
}

.new_manage_head_box .btn_tb{
    margin:10px 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.new_manage_head_box .btn_tb a{
    font-size: 12px;
}

.new_manage_btn_box{
    flex:2;
    display: flex;
    justify-content: flex-end;
}


.new_manage_head_box .btn_tb_wrap{
    position: static;
}


@media (max-width: 750px) {
    .new_manage_title_box p.new_manage_title{
        font-size: 18px;
    }

    .new_manage_btn_and_search_box .search_right_box{
        width:230px;
    }

    .new_manage_head_box{
        display: block;
    }

    .new_manage_btn_box{
        margin-top:15px;
    }
}